#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 502px;
    height: 502px;
    border: solid 1px black;
    background-color: azure;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameTitle {
    padding: 10px;
    margin: 0px;
}

.instructions {
    padding: 10px;
    margin: 0px;
}

.newTile {
    box-sizing: border-box;
}

.btnList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    gap: 5px;
}

.startGame {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: auto;
}

.startGame:hover {
    background-color: #45a049;
}

.submitInput {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.submitInput:hover {
    background-color: #45a049;
}

.resetGame {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 80px;

}

.resetGame:hover {
    background-color: #e53935;
}

.clear-button {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: auto;
}

.clear-button:hover {
    background-color: #e53935;
}

.custom-modal {
    position: fixed;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#boxInput, #colorInput {
    padding: 5px;
    border-radius: 10px;
}


button:hover {
    background-color: #45a049;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    z-index: 999; /* Make sure it’s above the grid but below the modal */
}

.switch-container {
    display: flex;
    align-items: center; /* Vertically center the switch and description */
    gap: 10px;
}

.switchDesc {
    margin-left: 10px; /* Space between the switch and the description */
    line-height: 40px; /* Align text vertically with the switch */
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    background: #FF4651; /* Use direct color code */
    border-radius: 20px;
    box-shadow: 0 8px 16px -1px rgba(255, 70, 81, .2);
    transition: background .3s ease;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.submitInput {
    border-radius: 20px;
}

.switch span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #FF4651; /* Use direct color code */
    transition: background .3s ease;
    display: block;
    box-shadow: 0 8px 16px -1px rgba(255, 70, 81, .2);
}

.switch span:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 5px solid #fff;
    transition: all .3s ease;
}

.switch span:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 50px;
    width: 8px;
    height: 18px;
    border-radius: 40%;
    background: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.switch input:checked + span {
    background: #48EA8B; /* Use direct color code */
    box-shadow: 0 8px 16px -1px rgba(72, 234, 139, .2);
}

.switch input:checked + span:before {
    width: 0;
    border-radius: 3px;
    margin-left: 60px;
    border-width: 3px;
    background: #fff;
}

.switch input:checked + span:after {
    animation: blobChecked .35s linear forwards .2s;
}

.switch input:not(:checked) + span:before {
    animation: blob .85s linear forwards .2s;
}

@keyframes blob {
    0%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.12, .94);
    }
    60% {
        transform: scale(.96, 1.06);
    }
}

@keyframes blobChecked {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(1.44);
    }
    70% {
        transform: scaleX(1.18);
    }
    50%, 99% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

html {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F9FF;
}

.color-change-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .color-change-container label {
    font-weight: bold;
  }
  
  #colorChangeInput {
    padding: 5px;
    border-radius: 20px;
  }

.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

.dribbble img {
    display: block;
    height: 28px;
}
